html {
  overflow-y: scroll;

  font-size: $font-size;
}

body {
  overflow-x: hidden;

  max-width: 100%;

  font-family: $font-main;
  font-size: $font-size;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}

h1 {
  margin-top: -9px;
  margin-bottom: $gap * 3;

  font-family: $font-header;

  @include lg-md {
    margin-top: -7px;
    margin-bottom: ($gap * 3) + 2px;
  }
  @include md-sm {
    margin-top: -7px;
    margin-bottom: ($gap * 3) - 1px;
  }
  @include sm {
    margin-bottom: ($gap * 3) + 1px;
  }
  @include xs-min {
    font-size: 3rem;
  }
  @include xs {
    padding-top: 3px;

    font-size: 2rem;
  }
  &::after {
    position: absolute;

    width: 100%;
    margin: 0.85em 0 0 $gap;

    content: "";

    border-bottom: 3px solid $color-border-accent;
  }
}
h2 {
  font-family: $font-header;

  @include xs-min {
    font-size: 2.5rem;
  }
  @include xs {
    font-size: 1.75rem;
  }

  &::before {
    position: absolute;
    left: 0;

    width: 30px;
    margin: 0.25em 0 0 0;

    content: "";

    border-bottom: 3px solid $color-border-accent;
  }

  &::after {
    position: absolute;

    width: 100%;
    margin: 0.85em 0 0 15px;

    content: "";

    border-bottom: 3px solid $color-border-accent;
  }
}

h3 {
  @include xs-min {
    font-size: 1.5rem;
  }
  @include xs {
    font-size: 1.25rem;
  }
}
section {
  position: relative;

  overflow: hidden;
}
