html {
  overflow-y: scroll;

  font-size: $font-size;
}

body {
  font-family: $font-main;
  font-size: $font-size;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}

h1 {
  margin-top: -7px;
  font-family: $font-header;
  font-size: 3rem;
  margin-bottom: $gap * 3;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0.1%;
    bottom: 18%;
    width: 487px;
    height: 3px;
    background-color: $color-border-accent;
  }
}


