.footer {
  height: 268px;
  padding-top: 45px;

  color: $color-gray;
  background-color: $color-dark;

  @include md {
    min-height: 422px;
    padding-top: 46px;
  }

  h4 {
    margin-top: 9px;
  }
  ul {
    padding: 0;

    list-style: none;
  }
  a {
    display: block;

    padding: 0;

    color: #6f6f6f;

    &:hover {
      color: $color-light;
    }
  }


  &-bottom {
    margin: 20px 0;

    text-align: center;

    font-weight: bold;

    @include lg {
      margin-top: 18px;
      margin-left: 2px;

      letter-spacing: 0.004em;
    }
    @include md {
      margin-top: 18px;
      margin-left: 1px;

      letter-spacing: 0.004em;
    }

    a {
      color: $color-gray;
    }
  }
}
// .footer-main:nth-of-type(3) {
//     margin-top: -20px;
// }.footer-main:nth-of-type(4) {
//     margin-top: 8px;
// }
