.footer {
  min-height: 268px;
  padding-top: 45px;

  color: $color-gray;
  background-color: $color-dark;

  @include lg-min {
    height: 266px;
  }
  @include lg-md {
    // min-height: 422px;
    padding-top: 47px;
  }
  @include md-sm {
    min-height: 422px;
    padding-top: 47px;
  }
  @include sm-xs {
    max-height: 422px;
    padding-top: 47px;
  }
  @include xs {
    height: auto;
  }

  h4 {
    margin-top: 9px;

    @include md-sm {
      margin-top: 7px;
    }
    @include sm {
      margin-top: 7px;
    }
  }
  ul {
    padding: 0;

    list-style: none;
  }
  a {
    display: block;

    padding: 0;

    color: #6f6f6f;

    &:hover {
      color: $color-light;
    }
  }


  &-bottom {
    margin: 20px 0;

    text-align: center;

    font-weight: bold;

    @include lg-min {
      margin-left: -2px;
    }
    @include lg-md {
      margin-top: 19px;
      margin-bottom: auto;
      margin-left: 1px;

      letter-spacing: 0.004em;
    }
    @include md-sm {
      margin-top: 20px;
      margin-bottom: auto;
      margin-left: 1px;

      letter-spacing: 0.004em;
    }
    @include sm {
      margin-top: 22px;
      margin-bottom: 18px;
      margin-left: 1px;
      // letter-spacing: 0.004em;
    }

    a {
      color: $color-gray;
    }
  }
}
