.header {
    @extend %margin-bottom-lg;
}

.header-logo {
    padding: 100px 0px;
    text-align: center;

    background-color: $color-dark;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;

    &__title {
        display: block;
        color: $color-accent;
        font-family: $font-header;
        @extend %text-shadow;
        
        font-size: 3.5rem;
        
        @include xs-min {
            font-size: 3.5rem;
            letter-spacing: 0.33em;
            margin-right: -0.2777em;
        }
        @include xs {
            font-size: 2.5rem;
            letter-spacing: 0.2em;
        }
    }
    &__description {
        display: block;
        color: $color-light;
        @extend %text-shadow;
        font-size: 1.15rem;
        letter-spacing: 0.2em;
    }
}