.main {
  margin-bottom: 69px;

  @include lg-min {
    margin-bottom: ($gap * 5) + 8px;
  }
  @include lg-md {
    margin-bottom: 81px;
  }
  .site-search {
    margin-bottom: $gap * 3;

    @include md-sm {
      margin-bottom: ($gap * 3) - 1px;
    }
  }
  .user-login {
    margin-bottom: $gap * 4;

    @include sm {
      margin-bottom: ($gap * 4) - 1px;
    }
  }
}
.new-films,
.top-week {
  margin-bottom: 74px;

  @include lg {
    margin-bottom: 72px;
  }
  @include lg-md {
    min-height: 292px;
  }

  &-row {
    margin-right: -$gap / 2;
    margin-bottom: -$gap;
    margin-left: -$gap / 2;
  }
  &-item {
    margin-bottom: $gap;
    padding-right: $gap / 2;
    padding-left: $gap / 2;

    @include lg-md {
      margin-bottom: $gap - 0.5px;
      // min-height: 386px;
    }
    @include md {
      max-height: 386px;
    }
    @include sm {
      max-height: 386px;
    }

    & img {
      width: 100%;
      height: auto;
    }

    &:hover {
      .thumbnail {
        border-color: $color-accent;
        background-color: $color-accent;
      }
      h3 {
        color: #ffffff;
      }
    }

    &__thumbnail {
      margin-bottom: 0;
      // @include lg-md {
      //   height: 292px;
      // }
    }

    &__title {
      margin-top: 0;
      margin-bottom: 0;

      text-align: center;

      font-size: 1rem;
      font-weight: bold;

      @include text-shortener;
    }
  }
}
.film-news {
  &:hover {
    .thumbnail {
      border-color: $color-accent;
      background-color: $color-accent;
    }
    h3 > a {
      color: $color-accent;
    }
    .btn-warning {
      background-color: $color-accent;
    }
  }
  .thumbnail {
    margin-bottom: 0;
  }
  h3 > a {
    transition: color 0.25s;
  }
}
.top-week {
  margin-bottom: 75px;

  @include lg-md {
    margin-bottom: 76px;
  }
  @include md-sm {
    margin-bottom: 78px;
  }
  @include sm {
    margin-bottom: 75px;
  }
  h2 {
    position: relative;

    margin-bottom: ($gap * 3) - 1px;
    margin-left: $gap * 3;

    font-family: $font-header;
    font-size: 2.5rem;

    @include lg-md {
      margin-top: 75px;
      margin-bottom: 45px;
    }
    @include md {
      margin-top: 75px;
      margin-bottom: 44px;
    }
    @include sm {
      margin-bottom: ($gap * 3) + 1px;
      margin-left: ($gap * 3) - 1px;
    }

    &::before {
      position: absolute;
      top: 21%;
      left: -5.6%;

      width: 30px;
      height: 3px;

      content: "";

      background-color: $color-border-accent;

      @include lg {
        left: -7.9%;
      }
      @include md {
        top: 23.5%;
        left: -6.7%;
      }
      @include lg-md {
        top: 23%;
      }
      @include sm {
        left: -9.1%;
      }
    }

    &::after {
      position: absolute;
      right: 0.1%;
      bottom: 16%;

      width: 507px;
      height: 3px;

      content: "";

      background-color: $color-border-accent;

      @include lg {
        width: 276.5px;
      }
      @include md {
        bottom: 15%;

        width: 380px;
      }
      @include sm {
        right: 3.5%;

        width: 190px;
      }
    }
  }
}
.news-movie {
  h2 {
    //  margin-top: 23px;
    position: relative;

    margin-bottom: ($gap * 3) - 1px;
    margin-left: $gap * 3;

    font-family: $font-header;
    font-size: 2.5rem;
    // @include lg-md {
    //   // margin-top: px;
    // }
    &::before {
      position: absolute;
      top: 22%;
      left: -5.6%;

      width: 30px;
      height: 3px;

      content: "";

      background-color: $color-border-accent;

      @include lg {
        top: 23%;
        left: -7.9%;
      }
      @include md {
        left: -6.5%;
      }
      @include sm {
        left: -9.1%;
      }
    }

    &::after {
      position: absolute;
      right: 0.1%;
      bottom: 16%;

      width: 507px;
      height: 3px;

      content: "";

      background-color: $color-border-accent;

      @include lg {
        width: 276.5px;
      }
      @include md {
        width: 379px;
      }
      @include sm {
        right: 0;

        width: 227px;
      }
    }
  }
}
.film-news {
  // a {
  //   // letter-spacing: 0.0000005em;
  // }
  &-item {
    &__button {
      float: right;

      margin-bottom: 30px;
    }
  }
}
.user-login__tabs a {
  @include sm {
    padding: 14px 0 11px 10px!important;
  }
}
