.main {
  margin-bottom: 69px;

  @include lg-min {
    margin-bottom: ($gap * 5) + 8px;
  }
  @include lg-md {
    margin-bottom: 81px;
  }
  @include md-sm {
    margin-bottom: 80px;
  }
  @include sm {
    margin-bottom: 81px;
  }
  .site-search {
    margin-bottom: $gap * 3;

    @include md-sm {
      margin-bottom: ($gap * 3) - 1px;
    }
  }
  .user-login {
    margin-bottom: $gap * 4;

    @include sm {
      margin-bottom: ($gap * 4) - 1px;
    }
  }
}
.new-films,
.top-week {
  margin-bottom: 39px;

  @include lg {
    margin-bottom: 0;
  }


  &-row {
    margin-right: -$gap / 2;
    margin-bottom: -$gap;
    margin-left: -$gap / 2;
  }
  &-item {
    margin-bottom: $gap;
    padding-right: $gap / 2;
    padding-left: $gap / 2;

    @include lg-md {
      margin-bottom: $gap - 0.5px;
    }

    & img {
      width: 100%;
      height: auto;
    }

    &:hover {
      .thumbnail {
        border-color: $color-accent;
        background-color: $color-accent;
      }
      h3 {
        color: #ffffff;
      }
    }

    &__thumbnail {
      margin-bottom: 0;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 0;

      text-align: center;

      font-size: 1rem;
      font-weight: bold;

      @include text-shortener;
    }
  }
}
.film-news {
  &:hover {
    .thumbnail {
      border-color: $color-accent;
      background-color: $color-accent;
    }
    h3 > a {
      color: $color-accent;
    }
    .btn-warning {
      background-color: $color-accent;
    }
  }
  .thumbnail {
    margin-bottom: 0;
  }
  h3 > a {
    transition: color 0.25s;
  }
}
.top-week {
  margin-bottom: 40px;

  @include lg-md {
    margin-bottom: 40px;
  }
  @include md-sm {
    margin-bottom: 43px;
  }
  @include sm {
    margin-bottom: 40px;
  }
  h2 {
    margin-bottom: ($gap * 3) - 1px;
    margin-left: $gap * 3;

    font-family: $font-header;
    font-size: 2.5rem;

    @include lg-md {
      margin-top: 60px;
      margin-bottom: 46px;
    }
    @include md-sm {
      margin-top: 61px;
      margin-bottom: 44px;
    }
    @include sm {
      margin-top: 58px;
      margin-bottom: ($gap * 3) + 1px;
      margin-left: ($gap * 3) - 1px;
    }
  }
}
.news-movie {
  @include md-sm {
    margin-bottom: ($gap * 5) + 4px;
  }
  h2 {
    margin-bottom: ($gap * 3) - 1px;
    margin-left: $gap * 3;

    font-family: $font-header;
    font-size: 2.5rem;
  }
}
.film-news {
  &-item {
    &__button {
      float: right;

      margin-bottom: 30px;

      @include md-sm {
        margin-bottom: 30px;
      }
      @include sm {
        margin-bottom: 31px;
      }
    }
    &__text {
      line-height: 1.4em;
    }
  }
}
.user-login__tabs a {
  @include sm {
    padding: 14px 0 11px 10px!important;
  }
}
