.film-info {
  margin-bottom: ($gap * 2) + 10px;
  // @extend %margin-bottom-lg;

  font-size: 1.2rem;

  @include lg {
    margin-bottom: ($gap * 2) + 9px;
  }
  &__title {
    margin-bottom: 46px;
    // margin-left: -2px;

    @include lg-md {
      margin-top: -9px;
      margin-left: -2px;
    }
    @include md-sm {
      margin-top: -7px;
      margin-left: -2px;
    }
    @include sm {
      margin-top: -8px;
      // margin-right: 10px !important;
      margin-left: 1px;
    }
  }
  &__wrapper {
    white-space: nowrap;

    // @include lg-md {
    //   padding-right: 2px;
    //   padding-bottom: 2px;
    // }

    &:not(:last-of-type) {
      margin-right: $gap;
    }
  }
  &__well {
    border-top-left-radius: none;
    border-top-right-radius: none;
    //   @include lg-md {
    //     margin-left: -2px;
    // /* padding-bottom: 23px; */
    //     margin-top: -2px;
    //   }

    @include md-sm {
      padding-left: 13px;
      // margin-left: -5px;
    }
  }
  &__badge {
    font-size: 0.8em;
  }
}
.movie-description {
  margin-bottom: ($gap * 2) + 10px;

  line-height: 1.45em;

  @include  lg-md {
    margin-bottom: ($gap * 2) + 7px;

    line-height: 1.4em;
  }
  @include md-sm {
    margin-bottom: ($gap * 2) + 12px;

    line-height: 1.4em;
  }
  @include  sm {
    margin-bottom: ($gap * 3) - 1px;

    line-height: 1.4em;
  }
  &__title {
    margin-bottom: ($gap * 3) - 1px;
    margin-left: $gap * 3;

    @include lg-md {
      margin-bottom: $gap * 3;
      margin-left: ($gap * 3) - 2px;
    }
    @include md-sm {
      margin-left: ($gap * 3) - 2px;
    }
    @include sm {
      margin-bottom: ($gap * 3);
      margin-left: ($gap * 3) + 1px;
    }
  }
  .well {
    padding-bottom: $gap - 3px;

    @include lg-md {
      padding-bottom: $gap + 3px;
    }
    @include md-sm {
      padding-bottom: $gap;
      padding-left: $gap + 3px;
    }
  }
}
.movie-reviews {
  margin-bottom: ($gap * 2) - 1px;
  padding-bottom: $gap - 3px;

  line-height: 1.45em;

  @include lg-md {
    margin-bottom: ($gap * 2) - 5px;

    line-height: 1.4em;
  }
  @include sm {
    margin-bottom: ($gap * 2) + 6px;

    line-height: 1.4em;
  }
  &__title {
    margin-bottom: ($gap * 3);
    margin-left: ($gap * 3) + 1px;

    @include lg-md {
      margin-left: ($gap * 3) - 2px;
    }
    @include md-sm {
      margin-left: ($gap * 3) - 1px;
    }
  }
  .panel-comment-1 {
    @include lg {
      margin-bottom: ($gap * 2) - 3px;
    }
    @include md-sm {
      margin-bottom: ($gap * 2) + 2px;
    }
    @include sm {
      margin-bottom: ($gap * 2) + 5px;
    }
  }
  .panel-heading {
    height: 47px;
    padding-top: 12px;
    padding-left: $gap;

    @include md-sm {
      padding-left: $gap - 2px;
      // padding-top: 14px
    }
  }

  .panel-body {
    padding-bottom: $gap - 5px;
    padding-left: 16px;

    @include lg-md {
      padding-bottom: $gap;
      padding-left: $gap;
    }
    @include md-sm {
      padding-top: 16px;
      padding-bottom: $gap;
      padding-left: $gap - 2px;

      line-height: 1.38;
    }
    @include sm {
      padding-bottom: $gap - 10px;

      line-height: 1.4em;
    }
  }
}
.film-comment-form {
  @include md-sm {
    margin-bottom: ($gap * 5) + 7px;
  }
  @include sm {
    margin-bottom: ($gap * 5) + 5px;
  }
  &__title {
    margin-bottom: ($gap * 3);
    margin-left: ($gap * 3);

    @include lg-md {
      margin-left: ($gap * 3) - 2px;
    }
    @include md-sm {
      margin-left: ($gap * 3) - 2px;
    }
  }
  input {
    @include md-sm {
      padding-left: 14px;
    }
  }
  textarea {
    @include md-sm {
      padding-left: 10px;
    }
  }
  &__button {
    float: right;

    border: none;
    // padding-top: 12px;
    // margin-right: 1px;

    @include lg-md {
      margin-right: 4px;
      padding-top: 11px;
    }
    @include md-sm {
      margin-right: 3px;
      padding-top: 11px;
    }
    @include sm {
      width: 117px;
      height: 46px;
      margin-top: -2px;
      margin-right: 0;
      padding-top: 11px;
    }
  }
}
