.left-sidebar {
  @extend %margin-bottom-lg;
  @include sm {
    margin-bottom: ($gap * 5.33333333) + 1px;
  }
  .panel:last-of-type {
    margin-bottom: 0;
  }
}
.vertical-slider {
  overflow: hidden;

  border-radius: 4px;
  img {
    width: 100%;
  }
}

$image-size: 75px;
$image-size-with-padding: $image-size + 10px;

.site-news-item {
  position: relative;

  clear: both;
  &:hover .thumbnail {
    border-color: $color-accent;
    background-color: $color-accent;
  }

  &:not(:last-of-type) {
    min-height: $image-size-with-padding;
    margin-bottom: $gap;

    &::after {
      position: absolute;
      right: 0;
      bottom: -5px;

      width: calc(100% - #{$image-size-with-padding});
      height: 1px;

      content: "";

      background-color: $color-gray;
    }
  }



  &__image {
    float: left;

    width: $image-size;
    margin: 0 10px 10px 0;


    img {
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 10px;
    a {
      @include block-shortener(1rem, 1.5, 50px, 2);
    }
  }
  &__date {
    text-align: right;

    color: darken($color-gray, 30%);

    font-size: 0.8rem;
  }
}
.list-group-item {
  margin-bottom: 0;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.top-films {
  .panel-body {
    padding-left: 0;
  }
  &__body {
    padding-right: 0;
    padding-left: 0;
  }
  &__list {
    margin-bottom: 0;
  }
  &__item {
    margin-right: -1px;
    margin-left: -1px;
    padding-right: 55px;

    color: $color-primary !important;
    background-color: transparent;

    @include lg {
      max-height: 43px;
    }
    &:first-child {
      border-top: none;
      border-radius: 0;

      @include lg {
        height: 42px;
      }
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0;
    }

    &:hover,
    &:focus {
      color: $color-light !important;
      border-color: $color-accent;
      background-color: $color-accent !important;

      .badge {
        background-color: $color-dark;
      }
    }
  }
  &__badge {
    position: absolute;
    top: 50%;
    right: $gap;

    transform: translateY(-50%);

    @include sm {
      right: $gap - 10px;
    }
  }
}
// .top-films:first-of-type {

//   &__item {
//     @include lg {
//       height: 40px !important;
//     }
//   }
// }
.site-search,
.user-login {
  @include sm {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
