.header, .main, .left-sidebar {
  margin-bottom: 80.0px;
}

.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.navbar-inverse {
  margin-bottom: 0;
  background-color: #191919;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel-info {
  margin-bottom: 30px;
  border: none;
  background-color: #ededed;
}

.panel-info > .panel-heading {
  letter-spacing: 0.1em;
  color: #ffffff;
  border-color: none;
  background-color: #df8a13;
  font-size: 1.2rem;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}

.user-login__tabs a {
  background-color: transparent !important;
  border: none !important;
  color: #dddddd;
  padding: 14px 5px 11px !important;
}

.user-login__tabs a:hover, .user-login__tabs a:focus {
  color: #dddddd;
}

.user-login__tabs .active a {
  color: #ffffff !important;
}

html {
  overflow-y: scroll;
  font-size: 16px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  margin-top: -6px;
  font-family: "PT Serif", serif;
  font-size: 3rem;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
}

.header-logo__description {
  display: block;
  letter-spacing: 0.2em;
  color: #ffffff;
  font-size: 1.15rem;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}

.vertical-slider img {
  width: 100%;
}

.site-news-item {
  clear: both;
  position: relative;
}

.site-news-item:not(:last-of-type) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-of-type)::after {
  position: absolute;
  right: 0;
  bottom: -4px;
  width: calc(100% - 85px);
  height: 1px;
  content: "";
  background-color: #dddddd;
}

.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}

.site-news-item__image img {
  width: 100%;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-line-clamp: 2;
}

.site-news-item__date {
  font-size: 0.8rem;
  text-align: right;
  color: #909090;
}

.list-group-item {
  margin-bottom: 0px;
}

.top-films__body {
  padding-left: 0;
  padding-right: 0;
}

.top-films__list {
  margin-bottom: 0px;
}

.top-films__item {
  margin-left: -1px;
  margin-right: -1px;
  padding-right: 55px;
  background-color: transparent;
  color: #165690 !important;
}

.top-films__item:first-child {
  border-top: none;
  border-radius: 0;
}

.top-films__item:last-child {
  border-bottom: none;
  border-radius: 0;
}

.top-films__item:hover, .top-films__item:focus {
  background-color: #df8a13 !important;
  color: #ffffff !important;
  border-color: #df8a13;
}

.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}

.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 576px) {
  .header-logo__title {
    margin-right: -0.2777em;
    letter-spacing: 0.33em;
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    letter-spacing: 0.2em;
    font-size: 2.5rem;
  }
}
