.left-sidebar {
  margin-bottom: 80.0px;
}

.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.navbar-inverse {
  height: 62px;
  margin-bottom: 0;
  background-color: #191919;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-inverse,
.navbar-collapse,
.navbar-inverse,
.navbar-form {
  background-color: #232323;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel-info {
  margin-bottom: 30px;
  border: none;
  background-color: #f4f4f4;
}

.panel-info > .panel-heading {
  padding-left: 14px;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-color: none;
  border-bottom: none;
  background-color: #df8a13;
  font-size: 1.2rem;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}

.user-login__tabs a {
  padding: 14px 5px 11px !important;
  color: #dddddd;
  border: none !important;
  background-color: transparent !important;
}

.user-login__tabs a:hover, .user-login__tabs a:focus {
  color: #dddddd;
}

.user-login__tabs .active a {
  color: #ffffff !important;
}

.glyphicon:hover {
  color: #ffffff !important;
}

.embed-responsive {
  border: 1px solid #dddddd;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

html {
  overflow-y: scroll;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  margin-top: -9px;
  margin-bottom: 45px;
  font-family: "PT Serif", serif;
}

h1::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid #f5c585;
}

h2 {
  font-family: "PT Serif", serif;
}

h2::before {
  position: absolute;
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 0;
  content: "";
  border-bottom: 3px solid #f5c585;
}

h2::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid #f5c585;
}

section {
  position: relative;
  overflow: hidden;
}

.header {
  margin-bottom: 79px;
}

.header-logo {
  height: 306px;
  padding: 98px 0 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
}

.header-logo__description {
  display: block;
  margin-top: 0;
  letter-spacing: 0.2em;
  color: #ffffff;
  font-size: 1.15rem;
}

.main {
  margin-bottom: 69px;
}

.main .site-search {
  margin-bottom: 45px;
}

.main .user-login {
  margin-bottom: 60px;
}

.new-films,
.top-week {
  margin-bottom: 39px;
}

.new-films-row,
.top-week-row {
  margin-right: -7.5px;
  margin-bottom: -15px;
  margin-left: -7.5px;
}

.new-films-item,
.top-week-item {
  margin-bottom: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.new-films-item img,
.top-week-item img {
  width: 100%;
  height: auto;
}

.new-films-item:hover .thumbnail,
.top-week-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}

.new-films-item:hover h3,
.top-week-item:hover h3 {
  color: #ffffff;
}

.new-films-item__thumbnail,
.top-week-item__thumbnail {
  margin-bottom: 0;
}

.new-films-item__title,
.top-week-item__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.film-news:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}

.film-news:hover h3 > a {
  color: #df8a13;
}

.film-news:hover .btn-warning {
  background-color: #df8a13;
}

.film-news .thumbnail {
  margin-bottom: 0;
}

.film-news h3 > a {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.top-week {
  margin-bottom: 40px;
}

.top-week h2 {
  margin-bottom: 44px;
  margin-left: 45px;
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
}

.news-movie h2 {
  margin-bottom: 44px;
  margin-left: 45px;
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
}

.film-news-item__button {
  float: right;
  margin-bottom: 30px;
}

.film-news-item__text {
  line-height: 1.4em;
}

.film-info {
  margin-bottom: 40px;
  font-size: 1.2rem;
}

.film-info__well {
  border-radius: 0 0 4px 4px;
}

.film-info__title {
  margin-bottom: 46px;
}

.film-info__wrapper {
  white-space: nowrap;
}

.film-info__wrapper:not(:last-of-type) {
  margin-right: 15px;
}

.film-info__badge {
  font-size: 0.8em;
}

.movie-description {
  margin-bottom: 40px;
  line-height: 1.45em;
}

.movie-description__title {
  margin-bottom: 44px;
  margin-left: 45px;
}

.movie-description .well {
  padding-bottom: 12px;
}

.movie-reviews {
  margin-bottom: 29px;
  padding-bottom: 12px;
  line-height: 1.45em;
}

.movie-reviews__title {
  margin-bottom: 45px;
  margin-left: 46px;
}

.movie-reviews .panel-heading {
  height: 47px;
  padding-top: 12px;
  padding-left: 15px;
}

.movie-reviews .panel-body {
  padding-bottom: 10px;
  padding-left: 16px;
}

.film-comment-form__title {
  margin-bottom: 45px;
  margin-left: 45px;
}

.film-comment-form__button {
  float: right;
  border: none;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}

.vertical-slider img {
  width: 100%;
}

.site-news-item {
  position: relative;
  clear: both;
}

.site-news-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}

.site-news-item:not(:last-of-type) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-of-type)::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  content: "";
  background-color: #dddddd;
}

.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}

.site-news-item__image img {
  width: 100%;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-line-clamp: 2;
}

.site-news-item__date {
  text-align: right;
  color: #909090;
  font-size: 0.8rem;
}

.list-group-item {
  margin-bottom: 0;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.top-films .panel-body {
  padding-left: 0;
}

.top-films__body {
  padding-right: 0;
  padding-left: 0;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__item {
  margin-right: -1px;
  margin-left: -1px;
  padding-right: 55px;
  color: #165690 !important;
  background-color: transparent;
}

.top-films__item:first-child {
  border-top: none;
  border-radius: 0;
}

.top-films__item:last-child {
  border-bottom: none;
  border-radius: 0;
}

.top-films__item:hover, .top-films__item:focus {
  color: #ffffff !important;
  border-color: #df8a13;
  background-color: #df8a13 !important;
}

.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}

.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  min-height: 268px;
  padding-top: 45px;
  color: #dddddd;
  background-color: #232323;
}

.footer h4 {
  margin-top: 9px;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer a {
  display: block;
  padding: 0;
  color: #6f6f6f;
}

.footer a:hover {
  color: #ffffff;
}

.footer-bottom {
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
}

.footer-bottom a {
  color: #dddddd;
}

@media (min-width: 576px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .header-logo__title {
    margin-right: -0.2777em;
    letter-spacing: 0.33em;
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
}

@media (min-width: 1200px) {
  .navbar-inverse .navbar-nav > li > a {
    margin-top: -2px;
  }
  .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
  .main {
    margin-bottom: 83px;
  }
  .footer {
    height: 266px;
  }
  .footer-bottom {
    margin-left: -2px;
  }
}

@media (max-width: 1199.8px) {
  .navbar-inverse .navbar-nav > li > a {
    margin-bottom: 0;
  }
  .navbar-left > li {
    margin: 5px 10px 5px -5px;
  }
  .navbar-right > li {
    margin: 5px 5px 5px 0;
  }
  .header-logo__description {
    margin-left: -12px;
  }
  .new-films,
  .top-week {
    margin-bottom: 0;
  }
  .film-info {
    margin-bottom: 39px;
  }
  .top-films__item {
    max-height: 43px;
  }
  .top-films__item:first-child {
    height: 42px;
  }
}

@media (max-width: 1199.8px) and (max-width: 991.8px) {
  .navbar-left > li {
    margin: 5px 6.5px 5px -1px;
  }
}

@media (max-width: 1199.8px) and (min-width: 992px) {
  .navbar-inverse {
    height: 61px;
  }
  h1 {
    margin-top: -7px;
    margin-bottom: 47px;
  }
  .header {
    margin-bottom: 80px;
  }
  .header-logo__title {
    margin-top: 3px;
    margin-right: -4px;
  }
  .main {
    margin-bottom: 81px;
  }
  .new-films-item,
  .top-week-item {
    margin-bottom: 14.5px;
  }
  .top-week {
    margin-bottom: 40px;
  }
  .top-week h2 {
    margin-top: 60px;
    margin-bottom: 46px;
  }
  .film-info__title {
    margin-top: -9px;
    margin-left: -2px;
  }
  .movie-description {
    margin-bottom: 41px;
    line-height: 1.4em;
  }
  .movie-description__title {
    margin-bottom: 45px;
    margin-left: 43px;
  }
  .movie-description .well {
    padding-bottom: 18px;
  }
  .movie-reviews {
    margin-bottom: 27px;
    line-height: 1.4em;
  }
  .movie-reviews__title {
    margin-left: 43px;
  }
  .movie-reviews .panel-body {
    padding-bottom: 15px;
    padding-left: 15px;
  }
  .film-comment-form__title {
    margin-left: 43px;
  }
  .film-comment-form__button {
    margin-right: 4px;
    padding-top: 11px;
  }
  .footer {
    padding-top: 47px;
  }
  .footer-bottom {
    margin-top: 19px;
    margin-bottom: auto;
    margin-left: 1px;
    letter-spacing: 0.004em;
  }
}

@media (max-width: 991.8px) {
  .navbar-inverse {
    height: 61px;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
  .header {
    margin-bottom: 80.5px;
  }
  .header-logo {
    height: 304px;
  }
  .header-logo__description {
    margin-left: -2px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  h1 {
    margin-top: -7px;
    margin-bottom: 44px;
  }
  .header-logo {
    padding: 99px 0 100px 0;
  }
  .main {
    margin-bottom: 80px;
  }
  .main .site-search {
    margin-bottom: 44px;
  }
  .top-week {
    margin-bottom: 43px;
  }
  .top-week h2 {
    margin-top: 61px;
    margin-bottom: 44px;
  }
  .news-movie {
    margin-bottom: 79px;
  }
  .film-news-item__button {
    margin-bottom: 30px;
  }
  .film-info__well {
    padding-left: 13px;
  }
  .film-info__title {
    margin-top: -7px;
    margin-left: -2px;
  }
  .movie-description {
    margin-bottom: 41px;
    line-height: 1.4em;
  }
  .movie-description__title {
    margin-left: 43px;
  }
  .movie-description .well {
    padding-bottom: 20px;
    padding-left: 18px;
  }
  .movie-reviews {
    margin-bottom: 27px;
    line-height: 1.4em;
  }
  .movie-reviews__title {
    margin-bottom: 44px;
    margin-left: 44px;
  }
  .movie-reviews__title {
    margin-left: 44px;
  }
  .movie-reviews .panel-heading {
    padding-left: 13px;
  }
  .movie-reviews .panel-body {
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 13px;
    line-height: 1.38;
  }
  .film-comment-form {
    margin-bottom: 82px;
  }
  .film-comment-form__title {
    margin-left: 43px;
  }
  .film-comment-form input {
    padding-left: 14px;
  }
  .film-comment-form textarea {
    padding-left: 10px;
  }
  .film-comment-form__button {
    margin-right: 3px;
    padding-top: 11px;
  }
  .footer {
    min-height: 422px;
    padding-top: 47px;
  }
  .footer h4 {
    margin-top: 7px;
  }
  .footer-bottom {
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 1px;
    letter-spacing: 0.004em;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse {
    height: 51px;
  }
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
  .navbar-toggle {
    margin-left: 6px;
  }
  .panel-info > .panel-heading {
    margin-top: 1px;
  }
  .panel-body {
    padding: 15px 15px 15px 15px;
  }
  h1 {
    margin-bottom: 46px;
  }
  .header {
    margin-bottom: 79px;
  }
  .header-logo__title {
    margin-left: 6px;
  }
  .header-logo__description {
    margin-left: 4px;
  }
  .main {
    margin-bottom: 81px;
  }
  .main .user-login {
    margin-bottom: 59px;
  }
  .top-week {
    margin-bottom: 40px;
  }
  .top-week h2 {
    margin-top: 58px;
    margin-bottom: 46px;
    margin-left: 44px;
  }
  .film-news-item__button {
    margin-bottom: 31px;
  }
  .user-login__tabs a {
    padding: 14px 0 11px 10px !important;
  }
  .film-info__title {
    margin-top: -8px;
    margin-left: 1px;
  }
  .movie-description {
    margin-bottom: 48px;
    line-height: 1.4em;
  }
  .movie-description__title {
    margin-bottom: 45px;
    margin-left: 46px;
  }
  .movie-reviews {
    margin-bottom: 36px;
    line-height: 1.4em;
  }
  .movie-reviews .panel-body {
    padding-bottom: 5px;
    line-height: 1.4em;
  }
  .film-comment-form {
    margin-bottom: 80px;
  }
  .film-comment-form__title {
    margin-left: 47px;
  }
  .film-comment-form__button {
    width: 117px;
    height: 46px;
    margin-top: -2px;
    margin-right: 0;
    padding-top: 11px;
  }
  .left-sidebar {
    margin-bottom: 81.0px;
  }
  .top-films__badge {
    right: 5px;
  }
  .site-search,
  .user-login {
    margin-right: auto;
    margin-left: auto;
  }
  .footer h4 {
    margin-top: 7px;
  }
  .footer-bottom {
    margin-top: 22px;
    margin-bottom: 18px;
    margin-left: 1px;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .footer {
    max-height: 422px;
    padding-top: 47px;
  }
}

@media (max-width: 575.8px) {
  h1 {
    padding-top: 3px;
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .header-logo__title {
    letter-spacing: 0.2em;
    font-size: 2.5rem;
  }
  .footer {
    height: auto;
  }
}
